@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #42033D;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #680E4B;
}

#column-2 {
  background: #7C238C;
}

#column-3 {
  background: #854798;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #7C72A0;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #809BCE;
  }

.col-3 {
  width: 50%;

}
  #column-1 {
    background-color: #95B8D1;
  }

  #column-2 {
    background-color: #B8E0D2;
  }

  #column-3 {
    background-color: #D6EADF;
    width:  100%;
  }

  footer {
    background-color: #EAC4D5;
  }
  


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #FF595E;
  }

.col-3 {
  width: 33.3%;
}

  #column-1 {
    background-color: #FFCA3A;
  }

  #column-2 {
    background-color: #8AC926;
  }

  #column-3 {
    background-color: #1982C4;
    width:  33.3%;
  }

  footer {
    background-color: #6A4C93;
  }
   
}
